[database]
path={{ ansible_env.HOME }}/{{ mymailfolder }}

[user]
name={{ myfullname }}
primary_email={% for acct in myemail %}{% if acct.primary is defined %}{{ acct.remoteuser }}
{% endif %}{% endfor %}
other_email={{ myemail|selectattr('primary', 'undefined')|join(';', attribute='remoteuser') }}

[new]
tags=unread;inbox;
ignore=

[search]
exclude_tags=deleted;spam;

[maildir]
synchronize_flags=true
