[database]
path={{ ansible_env.HOME }}/{{ mymailfolder }}

[user]
name={{ myfullname }}
primary_email={{ myprimaryemail }}

[new]
tags=unread;inbox;
ignore=

[search]
exclude_tags=deleted;spam;

[maildir]
synchronize_flags=true
